@media screen and (max-device-width: 576px) {

.subsection{
    font-size: larger;
    margin: 16px 0;
}

.employment-history{
    margin: 32px 0;
}

.employer{
    font-size: large;
}

.employment-date{
    font-size: small;
}
.employment-status{
    font-size: small;
}
.employment-team{
    font-size: small;
}

.menu-item{
    display: none;
}

.menu-item-image{
    margin-top: 32px;
    padding: 16px 0;
}

.menu-item-name{
    display: block;
    padding: 16px 0;
}

.menu-item-image{

}

footer{
    color:#C8C3C3;
    padding: 16px 0;
    background-color: black;   
}

.footer-item{
    margin: 0 16px;
}

}/* end mobile */


@media screen and (min-width: 576px) {
.subsection{
    font-size: larger;
    margin: 16px 0;
}

.menu-item-image{
    margin: 16px 0;
}

.menu-item-name{
    margin: 16px 0;
}

.menu-item{
    margin: 16px 0;
}

.menu-item span{
    margin: 0 8px;
}

.employment-history{
    margin: 32px 64px;
}

.employer{
    font-size: larger;
}

.employment-team{
    font-size: large;
}

.employment-status{
    font-size: medium;
}

.employment-date{
    font-size: smaller;
}

.employment-description{
    font-size: smaller;
}


.menu-item-name-mobile{
    display: none;
} 

footer{
    display:none;   
}
}

.menu{
    background-color: black;
    color:#C8C3C3;
}